@keyframes blink {
  0% { visibility: hidden; }
  50% { visibility: hidden; }
  100% { visibility: visible; }
}
:host {
  --primary: #1B998B;
  --accent: #FFFAE5;
  --text: #36453B;
  display: block;
  color: var(--text);
}

.blink {
  animation: 1s linear infinite blink;
}

button {
  background: var(--primary);
  border: none;
  border-radius: 4px;
  color: var(--accent);
  font-variant: small-caps;
  letter-spacing: 1px;
  padding: .5rem 1rem;
}

/* blink.css */
:host-context(.dark) button {
  background: var(--accent);
  color: var(--primary);
 }
 
