@keyframes blink {
  0% { visibility: hidden; }
  50% { visibility: hidden; }
  100% { visibility: visible; }
}
:host {
  --blue: #1B998B;
  --dark: #36453B;
  --accent: #FFFAE5;
  display: block;
  color: var(--dark);
}

.user-content {
  display: block;
}

.blink {
  animation: 1s linear infinite blink;
}

button {
  background: var(--blue);
  border: none;
  border-radius: 4px;
  color: var(--accent);
  font-variant: small-caps;
  letter-spacing: 1px;
  padding: .5rem 1rem;
}

li {
  color: blue;
}