html {
  --primary: #1B998B;
  --text: #36453B;
  --accent: #FFFAE5;
}

body {
  background: var(--accent);
  color: var(--text);
  font-family: sans-serif;
}

.content {
  font-size: 3rem;
  margin-top: 4rem;
  text-align: center;
}

