html {
  --primary: #1B998B;
  --text: #36453B;
  --accent: #FFFAE5;
}

body {
  background: var(--accent);
  color: var(--text);
  font-family: sans-serif;
  font-size: 3rem;
  padding: 4rem;
  text-align: center;
}

p {
  color: var(--primary);
  text-decoration: underline;
}