html {
  --primary: #1B998B;
  --text: #36453B;
  --accent: #FFFAE5;
}

body {
  /* background: var(--accent); */
  background: gray;
  color: var(--text);
  font-family: sans-serif;
  padding: 2rem 4rem;
}

p {
  color: var(--primary);
  text-decoration: underline;
}

button {
  font-family: cursive;
}