html {
  --primary: #1B998B;
  --text: #36453B;
  --accent: #fffcf2;
  margin: 0;
  padding: 0;
}

body {
  background: var(--accent);
  color: var(--text);
  font-family: sans-serif;
  padding: 2rem 4rem;
}

h1 {
  color: var(--primary);
  text-align: center;
}

h2 {
  color: var(--primary);
  font-size: 1.25rem;
  margin: 2rem 0 .5rem;
}

h3 {
  color: #888;
  font-size: 1rem;
}